.panel-wrapper {
  flex: 1 0 21%;

  @media (max-width: 768px) {
    flex: 1 0 51%;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    flex: 1 0 33%;
  }
  
  .picture-wrapper {
    margin: 0 auto;
    border-radius: 25px;
    margin-top: 25px;
    max-width: 300px;
    max-height: 250px;
    transition: All 0.2s ease-in-out;
    -webkit-transition: All 0.2s ease-in-out;
    -moz-transition: All 0.2s ease-in-out;
    overflow: hidden;

    img {
      border-radius: 25px;
      width: 100%;
      height: 100%;
    }
  }

  .info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .picture-wrapper:hover {
    max-width: 325px;
    max-height: 275px;
    cursor: pointer;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
  }

  .picture-wrapper-selected {
    margin: 0 auto;
    border-radius: 25px;
    margin-top: 15px;
    max-width: 325px;
    max-height: 275px;
    -moz-box-shadow:    3px 3px 5px 1px green;
    -webkit-box-shadow: 3px 3px 5px 1px green;
    box-shadow:         3px 3px 5px 1px green;
    overflow: hidden;

    img {
      border-radius: 25px;
      width: 100%;
      height: 100%;
    }
  }
}